{% extends 'base.html'%}
{%load static%}
{%load humanize%}

{%block body%}
<div class="profile-infos">
    <div class="profile-bg">

    </div>
    <div class="profile-nav">
        <div class="profile-nav-item">
            <div class="profile-nav-link blogs">
                <span class="label">Blogs</span>
                <span class="count">{{blogs_count}}</span>
            </div>
        </div>

        <div class="profile-nav-item">
            <div class="profile-nav-link games">
                <span class="label">Games</span>
                <span class="count">10</span>
            </div>
        </div>

        <div class="profile-nav-item">
            <div class="profile-nav-link groups">
                <span class="label">Groups</span>
                <span class="count">10</span>
            </div>
        </div>
        <div class="profile-nav-item">
            <div class="profile-nav-link videos">
                <span class="label">Videos</span>
                <span class="count">10</span>
            </div>
        </div>
        {%if can_fallow == True%}
        <div class="profile-nav-item fallow-btn">
            <div class="profile-nav-link videos">
                <span class="label">Fallow</span>
            </div>
        </div>
        {%endif%}
    </div>
    <div class="profile-img">
        <img src="{% static 'images/user/profile-icon.png'%}" alt="">
    </div>
    <div class="profile-name">
        <div class="name">
            <span class="d-none username">{{username}}</span>
            <h1>{{username}} {{title}}<span><i class="fa fa-check-circle" aria-hidden="true"></i></span></h1>
        </div>
    </div>
</div>
<br>
<div class="profile-body">

    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                {%block profile_body%}
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-sm-9 ">
                            <div class="_second_profile_body card-group">
                                <div class="section blogs-section">
                                    <div class="header">
                                        <h1>Your Blogs</h1>
                                    </div>
                                    <div class="body">
                                        <a href="{%url 'blog_creator'%}" class="create-blog-btn">
                                            <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                            <p>Create Blog</p>
                                        </a>
                                        <div class="latest-blog">
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="section videos-section">
                                    <div class="header">
                                        <h1>Your Videos</h1>
                                    </div>
                                    <div class="body">
                                        <div class="create-blog-btn">
                                            <p><i class="fa fa-upload" aria-hidden="true"></i></p>
                                            <p>Upload Video</p>
                                        </div>
                                        <div class="no-blogs-msg">
                                            <h3><svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true"
                                                    focusable="false" data-prefix="fa" data-icon="ellipsis-h" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                    data-fa-i2svg="">
                                                    <path fill="currentColor"
                                                        d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z">
                                                    </path>
                                                </svg>
                                                <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> Font Awesome fontawesome.com -->
                                            </h3>
                                            <h3>This Gamer has no Videos to show.</h3>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="section games-section">
                                    <div class="header">
                                        <h1>Your Games</h1>
                                    </div>
                                    <div class="body">
                                        <div class="create-blog-btn">
                                            <p><i class="fa fa-plus" aria-hidden="true"></i></p>
                                            <p>add Game</p>
                                        </div>
                                        <div class="no-blogs-msg">
                                            <h3><svg class="svg-inline--fa fa-ellipsis-h fa-w-16" aria-hidden="true"
                                                    focusable="false" data-prefix="fa" data-icon="ellipsis-h" role="img"
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                                                    data-fa-i2svg="">
                                                    <path fill="currentColor"
                                                        d="M328 256c0 39.8-32.2 72-72 72s-72-32.2-72-72 32.2-72 72-72 72 32.2 72 72zm104-72c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72zm-352 0c-39.8 0-72 32.2-72 72s32.2 72 72 72 72-32.2 72-72-32.2-72-72-72z">
                                                    </path>
                                                </svg>
                                                <!-- <i class="fa fa-ellipsis-h" aria-hidden="true"></i> Font Awesome fontawesome.com -->
                                            </h3>
                                            <h3>This Gamer has no Games to show.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="infos">
                                <div class="fallows-infos">
                                    <div class="fallowers">
                                        <div class="count">
                                            <p>{{fallowers|intword}}</p>
                                        </div>
                                        <div class="label">
                                            <p>Fallowers</p>
                                        </div>
                                    </div>
                                    <hr style="margin:15px 20px;">
                                    <div class="fallowing">
                                        <div class="count">
                                            <p>{{fallowing|intword}}</p>
                                        </div>
                                        <div class="label">
                                            <p>Fallowing</p>
                                        </div>
                                    </div>
                                    <hr style="margin:15px 20px;">
                                    <div class="stars">
                                        <div class="count">
                                            <p><i class="fa fa-star" aria-hidden="true"></i> {{stars|intword}}</p>
                                        </div>
                                        <div class="label">
                                            <p>Stars gained</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <br>
                <br>
                <br>
                {%endblock profile_body%}
            </div>

        </div>

    </div>

</div>


{%endblock body%}
{%block other_scripts%}
<script src="{%static 'js/me/main.js' %}" defer></script>
{%endblock other_scripts%}